services:
  api:
    build: .
    depends_on:
      postgres:
        condition: service_healthy

    environment:
      - database=${DATABASE_URL}
      - jwt_secret=${JWT_SECRET}
      - algorithm=${ALGORITHM}
      - expiration_time=${EXPIRATION_TIME} 
  
  postgres:
    image: postgres:18-alpine
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DB=${DB_NAME}  
    volumes:
      - postgres-db:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    
volumes:
  postgres-db: